<!-- app/templates/base.html -->

{% import "bootstrap/utils.html" as utils %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} | {{ projectname }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
  </head>

  <body>
    <header>
    <div id="header">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" role="navigation">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='ressources' | ressource_dir + 'logo.svg') }}"></img>
        </div>
        <div>
            <div class="small">Virtual Mail User Management</div>
            {% if domainname %}
                <div><strong>{{ domainname }}</strong></div>
            {% elif current_user.is_authenticated %}
                <div><strong>{{ current_user.domains.domain }}</strong></div>
            {% endif %}
        </div>
          <div class="nav-item">{{ utils.flashed_messages() }}</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartop" aria-controls="navbartop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbartop">
            <div class="navbar-nav mr-auto"></div>

            {% if current_user.is_authenticated %}
            
                {% if current_user.is_siteadmin %}
                    <div class="navbar-nav dropdown">
                        <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdownMenuDomains" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Domains
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuDomains">
                          <a class="nav-item nav-link dropdown-item" href="{{ url_for('domains.domainlist', domaintype='local') }}">Local Domains</a>
                          <a class="nav-item nav-link dropdown-item" href="{{ url_for('domains.domainlist', domaintype='alias') }}">Alias Domains</a>
                          <a class="nav-item nav-link dropdown-item" href="{{ url_for('domains.domainlist', domaintype='relay') }}">Relay Domains</a>
                          <a class="nav-item nav-link dropdown-item" href="{{ url_for('config.siteconfig') }}">Configuration settings</a>
                        </div>
                    </div>
                {% endif %}
                {% if current_user.is_postmaster and request.blueprint=='accounts' %}
                    <div class="navbar-nav dropdown">
                        <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdownMenuAccounts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Accounts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuAccounts">
                            <a class="nav-item nav-link dropdown-item" href="{{ url_for('accounts.accountlist', domainid=domainid, accounttype='local') }}">Local Accounts</a>
                            <a class="nav-item nav-link dropdown-item" href="{{ url_for('accounts.accountlist', domainid=domainid, accounttype='alias') }}">Alias Accounts</a>{% if False %}
                            <a class="nav-item nav-link dropdown-item" href="{{ url_for('accounts.accountlist') }}">Groups</a>{% endif %}
                            <a class="nav-item nav-link dropdown-item" href="{{ url_for('accounts.accountlist', domainid=domainid, accounttype='list') }}">Mailinglists</a>
                        </div>
                    </div>
                {% endif %}
                
            {% endif %}
            
              <a class="nav-item nav-link"></span></a>

            {% if current_user.is_authenticated %}
                    <div class="navbar-nav dropdown">
                        <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-user"></i> {{ current_user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuUser">
                          <a class="nav-item nav-link dropdown-item" href="{{ url_for('accounts.account_edit', accountid=current_user.id, accounttype='local') }}">Account settings</a>
                          {% if False %}<a class="nav-item nav-link dropdown-item" href="{{ url_for('accounts.blocklist_edit', accountid=current_user.id, accounttype='local') }}">Blocklist</a>{% endif %}
                          <a class="nav-item nav-link dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                        </div>
                    </div>
            {% else %}
                  <!--<a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>-->
            
            {% endif %}
        </div>
      </nav>
    </div>
    </header>
    
    <main role="main">
    <!--div class="wrapper">-->
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    <!--</div>-->
    </main>
    
    <footer class="fixed-bottom bg-light">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">

            <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                <a class="nav-item nav-link small mr-auto" href="https://github.com/vexim/vexim2" target="_blank">Vexim - Virual Mail User Management</a>
                <span class="nav-item nav-link disabled small ml-auto">for the</span>
                <a class="nav-item nav-link small mr-auto" href="https://exim.org" target="_blank">Exim Mailserver</a>
            </div>
            <div class="navbar-nav ml-auto">
                <span class="nav-item nav-link disabled small ml-auto">Copyright © 2018 Markus Gschwendt</span>
            </div>
      </nav>
    </footer>
    
  </body>
</html>
<!-- app/templates/base.html -->
